@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Altera para empilhar os itens verticalmente */
        align-items: center; /* Alinha os itens ao centro */
    }

    nav ul {
        margin-top: 20px; /* Adiciona margem superior para separar os itens */
    }

    nav img {
        max-width: 200px; /* Redimensiona o logotipo para uma largura máxima */
    }

    nav button{
        width: 1em;
    }
}
